body {
    overflow-x: hidden;
    color: #262335;

    max-width: 100dvw !important;

    margin: 0;
    padding: 0;
}


.foto-banner {
    display: none;
}


.bg {
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;

    gap: 4rem;




    z-index: 9999;

    /* height: 1714px; */

}

/* HEADER ---------------------------------------- */
header {

    width: 100%;

    padding: .5rem 40px;

    box-sizing: border-box;
    margin: auto;

    background: black;
    display: flex;
    justify-content: center;
    color: white;
}

.inner-header {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0rem;
}

header img {
    width: 32px;
    height: 32px;
    filter: opacity(0.1) drop-shadow(0 0 0 white) drop-shadow(0 0 0 white) drop-shadow(0 0 0 white) drop-shadow(0 0 0 white) drop-shadow(0 0 0 white);
}

.header-items span {
    padding: .5rem 1rem;
    border-radius: 50px;
    font-size: 14px;

    cursor: pointer;
    transition: .1s;
}

.header-items span:hover {
    background-color: #F7F7F7;
}

header a {
    padding-left: .5rem;
}

.header-title {
    font-weight: 900;
    font-size: 14px;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header svg {
    height: 16px;
    width: 16px;

    padding-left: .25rem;
}



/* .list {
    display: flex;
    flex-direction: row !important;

    gap: 1rem;
} */

/* FIRST SECTION --------------------------------------- */


#first-section-mobile {
    display: none;
}

.first-section {
    max-width: 1440px;

    display: flex;

    align-items: center;
    justify-content: center;

    padding: 1rem 70px 2rem 40px;
    gap: 2rem;

    margin: auto;
    margin-top: 10%;

    position: relative;
}

.first-section> :first-child {
    flex: 1;

    display: flex;
    flex-direction: column;

    font-size: x-large;
    font-weight: 400;

    gap: 2rem;
}

.small-logo-full {
    width: 100%;
    max-width: 400px;

}

.picture {

    flex: 1.5 !important;


    display: flex;
    flex-direction: column;

    background-color: #B00000;
    border-radius: 25px;

    transform: translate(5%, 5%);

    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.first-section div :first-child span {
    color: #B00000;
    font-size: 16px;
    font-weight: 500;
}

.first-section-description {
    color: #6F6F6F;
    font-size: 18px;

    line-height: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    align-items: flex-start;
    text-align: start;
}

.first-section h1 {
    font-size: 3.5vw;
    font-weight: 800;
}

/* SECOND SECTION------------------------------------ */

.second-section-mobile {
    display: none;
}

.second-section-mobile>div {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.second-section-mobile-button button {


    min-width: 100%;

    border-radius: 10px !important;
    font-weight: 600 !important;


    box-sizing: border-box;

    padding: 1rem;

    margin-top: .5rem;

}


.second-section {
    max-width: 1440px;

    display: flex;
    justify-content: center;
    align-items: center;


    margin: auto;
    padding: 0px 40px 80px 40px;

    gap: 4rem;


}

.second-section h1 {
    font-size: 34px;
}

.second-section p {
    font-size: 16px;
}

.second-section> :first-child {
    flex: 1;



}

.second-section> :last-child {
    flex: 1.25;


    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.second-section img {
    object-fit: cover;
    height: 100%;
    width: 100%;

    aspect-ratio: 1;
    border-radius: 50% !important;

    border: 15px solid #B00000;

    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);



}





iframe {
    width: 101.5%;
    aspect-ratio: 16/9;
    border-radius: 25px;

    transform: translate(-5%, -5%);
}



button {
    font-size: 16px !important;
    font-weight: 300 !important;

    border-radius: 50px;
    border: none;

    padding: 15px 30px;

    background-color: #B00000;
    color: white;

    cursor: pointer;

    max-width: fit-content;

}








.third-section {
    max-width: 1440px;

    margin: auto;
    padding: 6rem 40px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    gap: 2rem;
}

.third-title {
    text-align: center;
}

.third-title span {
    color: #B00000;
}

.third-section h1 {
    text-align: center;


    font-weight: 800;
}

.third-section h2 {
    font-weight: 800;
}

.cards-wrapper {
    display: grid;
    margin: auto;



    grid-template-columns: repeat(4, 1fr);

    grid-template-rows: repeat(1, 1fr);

    grid-gap: 2rem;



}







.forth-section {


    padding: 4rem 40px;

    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;

    background-color: #333333;
    color: white;


}

.forth-section p {
    font-size: 18px;
}

.forth-section-inner {
    max-width: 1200px;

    display: flex;


    gap: 2rem;
}

.forth-section-inner div:first-child {


    flex: 1;
}

.forth-section-inner div:last-child {


    flex: 1.5;
}

.forth-section div div {
    display: flex;

    justify-content: center;
    gap: 1rem;

    flex-direction: column;
}

.forth-section h2 {
    color: white;
    font-size: 34px;
}


.forth-section button {
    background: #B00000;

    font-weight: 600 !important;
}

.forth-section img {
    aspect-ratio: 16/10;
    object-fit: cover;



    width: 100%;



    /* overflow: hidden; */

    border-radius: 15px;
}

.image-wrapper {
    max-width: 20rem;

}

.image-wrapper img {
    width: 100%;
    height: auto;
}

/* -------------------------- */

.forth-section-copy p {
    font-size: 18px;
}

.forth-section-inner-copy div:first-child {


    flex: 1.5;
}

.forth-section-inner-copy div:last-child {

    flex: 1;
}

.forth-section-copy img {
    aspect-ratio: 16/10;
    object-fit: cover;

    width: 100%;

    border-radius: 15px;
}

.forth-section-copy {


    padding: 4rem 40px;

    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;

    background-color: #B00000;

    color: white;

    width: 100dvw;

    box-sizing: border-box;


}


.forth-section-inner-copy {
    max-width: 1200px !important;

    display: flex;


    gap: 2rem !important;
}

.forth-section-copy div {
    max-width: 1440px;

    display: flex;


    gap: 4rem;
}

.forth-section-copy div div {
    display: flex;

    justify-content: center;
    gap: 1rem;

    flex-direction: column;
}

.forth-section-copy h2 {
    color: white;
    font-size: 28px;
    /* 
    line-height: 2.5rem !important; */
}

.forth-section-copy button {
    background-color: #333333;
    font-weight: 600 !important;
}

.image-wrapper {
    max-width: 20rem !important;
}

.image-wrapper img {
    width: 100%;
    height: auto;
}

/* ------------------------ */

.pattern-bg {


    background-color: #ffffff;
    opacity: 1;
    background-image: linear-gradient(#B00000 0.9px, transparent 0.9px), linear-gradient(to right, #B00000 0.9px, #ffffff 0.9px);
    background-size: 18px 18px;

}

.fifth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;



}

.fifth-inner-wrapper {
    max-width: 700px;
    padding: 40px;

    background-color: #F6F6F6;
    border-radius: 25px;

    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);



}

.fifth-inner-wrapper>div {
    border-radius: 5px;
    overflow: hidden;




}

.fifth-inner-wrapper h1 {
    padding: 1rem;
}

footer {
    background-color: #B00000;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    font-size: 12px;

    gap: .25rem;

    color: white;

    padding: .5rem;


}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.25rem;
}

footer img {
    width: 22px;
}

footer span:first-child {
    cursor: pointer;
}

.valor-section {


    margin: auto;
    text-align: center;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;


    gap: 4rem;

    padding: 5rem 10px;

    background-color: #303030;

    color: white;
}


.valor-section button {


    padding: 1.5rem 3rem;

    margin: auto;

    min-width: 100%;
    border-radius: 10px;

    font-size: 20px !important;
    font-weight: 600 !important;

    box-sizing: border-box;


}

.valo-sectionr div {
    display: flex;
    align-items: center;
}

.valor-description {
    max-width: 600px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 2rem;
}

.valor-description h1 {
    font-size: 30px;

}

.price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.por-apenas {
    display: flex;
    flex-direction: column;

    text-align: start;
}

.por-apenas p {
    font-weight: 400;
}

.por-apenas span {
    font-size: 24px;
    font-weight: 600;
}

.price h2 {
    font-weight: 800;
    font-size: 3rem;

    color: #1ED760;
}

.full-price {
    font-size: 18px;
}

.full-price span {
    font-weight: 600;
    font-size: 18px;
}

.garantia {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

hr {
    border-color: #f7f7f72c;
}

.sixth-section-description {}


.sixth-section {
    max-width: 1440px;

    display: flex;
    justify-content: center;
    align-items: center;


    margin: auto;
    padding: 40px;

    gap: 4rem;

}

.sixth-section> :first-child {
    flex: 1;

    aspect-ratio: 1;

    padding: 2rem;

    border: 10px solid #3897F0;

    border-radius: 50%;

    background-color: #B00000;

    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);

    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.sixth-section> :last-child {
    flex: 1.5;

    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.sixth-section img {
    object-fit: contain;
    aspect-ratio: 1/1;

    max-width: 550px;
    height: 100%;
    width: 100%;

}

.div-img {
    padding: 10px 0;
}

.div-img img {
    border-radius: 15px;
}


.home {
    width: 100dvw;
    height: 100dvh;

    background: #B00000;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    color: white;
}

.foto-banner {
    position: relative;
    padding-bottom: 2rem;
}

.foto-banner img {
    max-width: 100dvw;
    object-fit: cover;

}

.small-logo {

    position: absolute;
    left: 50%;
    transform: translateX(-50%);


    bottom: -10px;

    width: 250px;
}






.seguranca {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;

    gap: 1rem;
}

.seguranca div {
    display: flex;

    align-items: center;
    justify-content: center;

    gap: .25rem;

    font-size: 14px;
    font-weight: 200;
}

.seguranca svg {
    width: 28px;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: 700;
    font-size: 14px;
}



.bonus {
    padding: 2rem;
    margin: auto;
    display: flex;
    justify-content: center;
}

.bonus p {
    font-weight: 300;
    line-height: 1.5rem;

}


.bold-bonus {
    font-size: 20px !important;
    font-weight: 700;
    color: #B00000;
}

.bold-bonus-black {
    font-size: 17px;
    font-weight: 700;
}

.inner-bonus {


    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-bonus h2 {
    font-size: 3rem !important;
    font-weight: 900;

    padding-bottom: 4rem !important;

    color: #B00000;
}

.inner-bonus div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 18px;

    max-width: 900px;
}















/* cards gris 2x2 */
/* @media (max-width: 1200px) {
    .cards-wrapper {

        max-width: 544px;
        grid-template-columns: repeat(2, 1fr);

        grid-template-rows: repeat(2, 1fr);
    }
} */



/* downsize texts */
@media (max-width: 1025px) {

    .bg {
        gap: 2rem;
    }

    .first-section {
        padding: 0rem 3rem 2rem 1rem;
    }

    .first-section p {
        font-size: 14px;
    }

    /* .small-logo-full {
        width: 200px;
    } */

    .second-section {
        padding: 0 1rem 2rem 1rem;
    }

    .first-section-description {
        gap: .5rem;
    }

    .second-section h1 {
        font-size: 24px;
        padding: 0;
    }

    .second-section-mobile h1 {
        color: #B00000;
    }

    .second-section p {
        font-size: 14px;
    }

    .third-section {
        padding: 64px 1rem;
    }

    .forth-section,
    .forth-section-copy {
        padding: 1.25rem 1rem;
    }

    .forth-section h2,
    .forth-section-copy h2 {
        font-size: 24px;
    }

    .forth-section p,
    .forth-section-copy p {
        font-size: 14px;
        font-weight: 200;
    }

    .fifth-section {
        padding: 2rem;
    }
}


/* mobile layout */
@media (max-width: 850px) {



    #first-section-full {
        display: none;
    }

    #first-section-mobile {
        display: block;
    }


    .lettering-logo {}

    .lettering-logo img {
        /* width: 60px; */
    }

    header {
        background-color: black;
        color: white;

        padding: 0rem 0;


    }

    .inner-header {
        justify-content: center;
    }

    .header-items {
        display: none;
    }

    header span {
        font-size: 12px;
        padding: .5rem .75rem;
    }

    header img {
        width: 22px !important;
        height: 22px !important;
        filter: none;
    }

    header div:last-child {
        padding-right: 10px;
    }

    .first-section {
        display: block;
        padding: 0rem 10px 2rem 10px;

        margin-top: 1.5rem;
    }

    .first-section div:first-child {
        display: flex;
        align-items: center;
    }


    .first-section> :first-child {
        gap: 2rem;
    }

    .first-section>div:first-child {
        padding-bottom: 2rem;

    }

    .first-section h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .first-section span {
        font-size: 16px;
        text-align: center;
    }


    .first-section div div:first-child span {
        font-size: 12px;
    }

    .first-section> :last-child {

        flex: 1.5;

        background: white;
        border-radius: 25px;

        transform: translate(0, 0);

        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        text-align: center;

        padding-top: 1rem;
    }

    .first-section-description {
        /* max-width: 320px; */

        gap: 1rem;
    }

    iframe {
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: 10px;

        transform: translate(0, 0);
    }

    .picture {

        transform: translate(0, 0);

        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0);
    }

    .second-section {
        display: none;
    }

    .second-section-mobile {
        display: block;
        padding: 0 20px 10px 20px;

        text-align: center;
    }

    .second-section-mobile>div:first-child {
        gap: .5rem;

        padding-bottom: 1rem;

    }

    .second-section-mobile img {
        width: 100%;
        max-width: 500px;


        object-fit: cover;
        height: 100%;
        width: 100%;

        aspect-ratio: 1;
        border-radius: 50% !important;

        border: 15px solid #B00000;

        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);


    }

    .second-section-mobile h1 {
        font-size: 24px;
    }

    .second-section-mobile span {
        font-size: 16px;
    }

    .div-img {
        padding-top: 2rem;
    }

    .third-section {
        padding: 64px 20px;
    }

    .third-section h1 {
        padding: 0 0 1rem 0;
    }

    .third-title span {
        font-size: 14px;
    }

    .cards {

        border-radius: 15px;
        font-size: 14px;

        padding: 1.5rem 1rem;

        max-width: ma;
    }

    .cards-wrapper {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns with equal width */
        grid-template-rows: repeat(2, 1fr);
    }

    .cards h2 {
        /* font-size: 18px; */
    }

    .forth-section,
    .forth-section-copy {
        padding: 1.25rem;
    }

    .forth-section div,
    .forth-section-copy div {
        flex-direction: column;
        gap: 1.5rem;
    }


    .forth-section img,
    .forth-section-copy img {
        width: 100%;

        overflow: hidden;
    }

    .forth-section-copy h2 {
        line-height: 1.5rem;
    }



    .pattern-bg {
        /* background-color: #e5e5f7; */

        background: none;

        background-color: #B00000;
    }

    .fifth-section {
        padding: 2rem 1rem;


    }


    .fifth-inner-wrapper {
        max-width: 700px;

        padding: 0;

        background-color: white;
        border-radius: 15px;

        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    }

    .fifth-section h1 {
        font-size: 18px;
    }

    .fifth-section h3 {
        font-size: 16px;
    }

    .wrapper {
        background-image: none;
    }

    .bg {
        background-image: none !important;
        gap: 1rem;
    }

    .sixth-section {
        display: block;
        padding: 10px;
    }

    .sixth-section .div-img {
        width: 100px;
        margin: 0 auto 20px auto;
        box-sizing: border-box;
    }

    .sixth-section h1 {
        font-size: 24px;
    }

    .sixth-section span {
        color: #6F6F6F;
        font-size: 16px;

        line-height: 1.75rem;
    }

    button {
        font-size: 16px !important;
        font-weight: 300 !important;

        border-radius: 50px;
        border: none;

        padding: 10px 30px;

        background-color: #B00000;
        color: white;

        cursor: pointer;

        max-width: fit-content;

    }

    .foto-banner {
        display: block;
    }

    .bonus {
        padding: 2rem;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    
    .bonus p {
        font-weight: 300;
        line-height: 1.5rem;
    
    }
    
    
    .bold-bonus {
        font-size: 17px;
        font-weight: 700;
        color: #B00000;
    }
    
    .bold-bonus-black {
        font-size: 17px;
        font-weight: 700;
    }
    
    .inner-bonus {
        max-width: 900px;
    }
    
    .inner-bonus h2 {
        font-size: 2.5rem;
        font-weight: 900;
    
        padding-bottom: 1rem !important;
    
        color: #B00000;
    }
    
    .inner-bonus div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 16px;
    }
    
    
}

/* initial padding structure for mobile layout */
@media (max-width: 850px) {

    .first-section {
        max-width: 600px;
    }

    .second-section-mobile {
        margin: auto;
    }

    .second-section-mobile-inner {
        max-width: 600px;

        margin: auto;

        padding: 1rem;
    }

    .third-section {
        max-width: 600px;
    }

    .forth-section-inner,
    .forth-section-inner-copy {
        max-width: 600px !important;
    }

    .pattern-bg {
        display: flex;
        justify-content: center;
    }

    .fifth-section {
        max-width: 600px;
    }
}

/* Cards grid 1x4
@media (max-width: 576px) {
    .cards-wrapper {

        max-width: 256px;
        grid-template-columns: repeat(1, 1fr);

        grid-template-rows: repeat(4, 1fr);
    }

} */